:root {
  --leckerli-foreground: #281d1d;        /* Texts */
  --leckerli-background: #dcd5cd;        /* Backgrounds  */
  --leckerli-primary: #f24237;        /* Call to actions */
  --leckerli-primary-hover: #e1392f;  /* Call to actions hovered */
  --leckerli-primary-active: #db3328; /* Call to actions actived */
  --leckerli-font: sans-serif;        /* Font family */
}

body #lkrl-wrapper .banner-wrapper {
  @apply !max-w-3xl !p-15;

  /**
  @apply md:!flex fixed !w-full !p-15 !space-y-10 md:!space-y-0 md:space-x-20 items-center justify-center !max-w-[none];
  @apply !shadow-none !m-0 !rounded-none;
  */
}

body #lkrl-wrapper .banner-wrapper > div {
  @apply max-w-[1230px] mx-auto;
}

body #lkrl-wrapper .banner-btn-customise {
  @apply inline-block !font-soehneKraftig !text-12 !leading-20 !tracking-wide uppercase disabled:opacity-80 !border-none;
  @apply !text-brown-800 !bg-sand-500 hover:!bg-sand-300 hover:!text-brown-800 active:!bg-sand-500 !font-normal !rounded-none;

  /**
  @apply order-3 mr-5;
  */

  padding: 5px 11px 6px 11px !important;
}

body #lkrl-wrapper .banner-settings-save,
body #lkrl-wrapper .banner-btn-accept {
  @apply inline-block !font-soehneKraftig !text-12 !leading-20 !tracking-wide uppercase disabled:opacity-80 !border-none;
  @apply !text-white bg-orange hover:bg-darkOrange active:bg-red !font-normal !rounded-none;

  /**
  @apply order-1 mr-5;
  */

  padding: 5px 11px 6px 11px !important;
}

body #lkrl-wrapper .banner-btn-reject {
  @apply inline-block !font-soehneKraftig !text-12 !leading-20 !tracking-wide uppercase disabled:opacity-80 !border-none;
  @apply !text-brown-800 !bg-sand-500 hover:!text-brown-800 hover:!bg-sand-300 active:!bg-sand-500 !font-normal !rounded-none;

  /**
  @apply order-2;
  */

  padding: 5px 11px 6px 11px !important;
}

/**
body #lkrl-wrapper .banner-btns {
  @apply flex items-center flex-nowrap !pt-0 !space-y-0;
}
*/

body #lkrl-wrapper .banner-settings-description,
body #lkrl-wrapper .banner-description {
  @apply !font-soehneLeicht text-brown-800 !text-19 !leading-28 !font-normal;
}

body #lkrl-wrapper .banner-description a {
  @apply underline transition-colors hover:text-brown-800/80 underline-offset-[2px];
}

body #lkrl-wrapper .banner-settings-title {
  @apply !font-soehneKraftig text-brown-800 !font-normal !text-19 !leading-28;
}

body #lkrl-wrapper .banner-title {
  @apply !font-soehneKraftig text-brown-800 !font-normal !text-19 md:!text-21 !leading-28;
}

body #lkrl-wrapper .banner-settings-toggle.bg-gray-200 {
  @apply !bg-orange/30;
}

body #lkrl-wrapper .banner-settings-toggle span[aria-hidden="true"] {
  @apply translate-y-[-1px];
}
