.commitment-card-container-preview .block-editor-block-list__layout {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 12px;
}

.commitment-card-container-preview .block-editor-block-list__layout > .wp-block-eldora-commitment-card {
  width: 100%;
  margin: 0;
}

.commitment-card-container-preview .block-list-appender {
  position: initial;
}

.commitment-card-container-preview .block-list-appender button {
  height: 100%;
}
