.calendar .icon {
  display: unset;
  position: unset;
}

.calendar-multiple {
  @apply inline-flex;

  .calendar {
    @apply mr-0;
  }

  .hyphen {
    @apply absolute text-30 font-soehneKraftig leading-40 tracking-tight text-brown-800 z-10;

    top: 60%;
    left: 41.5%;
    transform: translate(50%, -50%);
  }
}
