.first-post {
  @media only screen and (max-width: theme('screens.md')) {
    @apply pb-20 sm:pb-10 mb-10 sm:mb-40 border-b border-solid border-sand-500;

    img {
      max-height: var(--image-mobile-category) !important;
    }
  }

  img {
    @apply w-full object-cover;

    min-height: var(--image-category) !important;
  }
}

.other-posts {
  @apply lg:mr-10 xl:mr-0 mt-30 w-full md:mt-0 flex justify-between flex-wrap;

  @media only screen and (max-width: theme('screens.md')) {
    @apply px-15 mb-60;
  }
}

.other-posts > div {
  @media only screen and (max-width: theme('screens.md')) {
    margin-bottom: 4rem;
  }
}

.my-masonry-grid {
  display: flex;
  margin-left: -3rem; /* gutter size offset */
  width: auto;
}

.my-masonry-grid_column {
  padding-left: 3rem; /* gutter size */
  background-clip: padding-box;
}

/* Style your items */
.my-masonry-grid_column > div {
  margin-bottom: 3rem;

  @media only screen and (max-width: theme('screens.md')) {
    margin-bottom: 4rem;
  }

  @media only screen and (max-width: theme('screens.sm')) {
    margin-bottom: 1rem;
  }
}
