.rich-text {
  a:not(.footnote-circle) {
    @apply text-orange border-b border-dotted border-orange hover:border-solid;
  }

  .footnote-circle:after {
    @apply font-soehneKraftig text-12 border border-solid border-brown-800 text-brown-800;

    content: counter(footnotes);
    display: inline-block;
    position: relative;
    top: -2px;
    width: 20px;
    height: 20px;
    margin: 0 5px;
    line-height: 20px;
    counter-increment: footnotes;
    cursor: pointer;
    border-radius: 100%;
    text-align: center;
  }

  .lettrine:first-letter {
    @apply font-cambon float-left;

    font-size: 6.6rem;
    line-height: 4.8rem;
    margin-right: 1rem;
  }
}
