.social-bar {
  height: 3.8rem;
}

.social-bar a {
  @apply border border-solid border-brown-800 rounded-full relative inline-block hover:bg-brown-800;

  width: 3.8rem;
  height: 3.8rem;

  span {
    @apply text-brown-800 text-15 absolute;

    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  & + a {
    margin-left: 0.8rem;
  }

  &:hover span {
    @apply text-white;
  }
}
