.subscription-form {
  input[type='radio'] {
    @apply bg-white border border-solid border-sand-500;

    position: relative;
    top: 3px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    cursor: pointer;
    appearance: none;
  }

  input[type='radio']:checked {
    @apply bg-orange;

    border: none;
  }

  input[type='radio']:checked:after {
    @apply bg-white;

    content: '';
    display: block;
    position: relative;
    top: 7px;
    left: 7px;
    width: 6px;
    height: 6px;
    border-radius: 50%;
  }

  input[type='checkbox'] {
    @apply bg-white border border-solid border-sand-500;

    position: relative;
    top: 3px;
    width: 20px;
    height: 20px;
    cursor: pointer;
    appearance: none;

    &:before {
      @apply border-solid border-white;

      content: '';
      display: block;
      position: absolute;
      top: 2px;
      left: 7px;
      width: 7px;
      height: 13px;
      transform: rotate(45deg);
      border-width: 0 2px 2px 0;
      opacity: 0;
    }

    &:checked {
      @apply text-white bg-orange;

      border: none;

      &:before {
        opacity: 1;
      }
    }
  }

  .label {
    @apply text-13 text-brown-800 leading-17 tracking-wider font-soehneKraftig mb-10 uppercase;
  }

  .input-select {
    @apply px-20 py-10 text-19 leading-26 text-brown-800 font-soehneLeicht bg-white border border-solid border-sand-500;

    position: relative;
    width: 100%;
    appearance: none;
    background-color: #fff;
    background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20width%3D%228%22%20height%3D%224%22%20viewBox%3D%220%200%208%204%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%0A%3Cpath%20opacity%3D%220.5%22%20d%3D%22M4.21213%203.78787C4.09498%203.90503%203.90503%203.90502%203.78787%203.78787L0.512132%200.512131C0.323142%200.323142%200.456994%20-5.07073e-08%200.724265%20-3.20149e-08L7.27574%204.26183e-07C7.54301%204.44876e-07%207.67686%200.323143%207.48787%200.512132L4.21213%203.78787Z%22%20fill%3D%22%23281D1D%22%2F%3E%0A%3C%2Fsvg%3E');
    background-repeat: no-repeat, repeat;
    background-position: right 0.7em top 50%, 0 0;
    background-size: 0.65em auto, 100%;
  }

  .input-select::-ms-expand {
    display: none;
  }
}

.input-text {
  @apply px-20 py-10 h-full text-19 leading-26 text-brown-800 font-soehneLeicht border border-solid border-sand-500 bg-white;

  &::placeholder {
    @apply font-soehneLeicht;

    color: rgba(40, 29, 29, 0.5);
  }
}

.input-error {
  @apply !border-orange;
}
