.btn {
  @apply inline-block font-soehneKraftig text-12 leading-20 tracking-wide uppercase disabled:opacity-80;

  transition: background 0.15s;
}

.btn-normal {
  @apply text-15;

  padding: 14px 20px 15px 20px;
}

.btn-small {
  padding: 5px 11px 6px 11px;
}

.btn-md {
  padding: 9px 15px;
}

.btn-primary {
  @apply text-white bg-orange hover:bg-darkOrange active:bg-red;
}

.btn-secondary {
  @apply bg-sand-300 hover:bg-sand-500 active:bg-sand-300;
}

.btn-special {
  @apply bg-transparent hover:bg-white active:bg-white;
}

a {
  @apply cursor-pointer;
}
