@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --image-cover: 60rem;
  --image-category: 40rem;
  --image-teaser-landscape: 26rem;
  --image-teaser-portrait: 51rem;
  --image-teaser-square: 39rem;
  --image-mini-landscape: 19rem;
  --image-mini-portrait: 28.5rem;
  --image-mini-square: 28.5rem;
  --image-mobile-cover: 18.3rem;
  --image-mobile-category: 18.3rem;
  --image-mobile-teaser-landscape: 23rem;
  --image-mobile-teaser-portrait: 45.2rem;
  --image-mobile-teaser-square: 34.5rem;
}

html {
  font-size: 62.5%;
  -webkit-font-smoothing: antialiased;
}

body {
  @apply bg-sand-100;
  @apply text-21;
  @apply text-brown-800;
  @apply font-miloSerif;
  @apply leading-31;
  @apply tracking-normal;

  counter-reset: footnotes;
}

h1 {
  @apply font-cambon;
  @apply text-46;
  @apply leading-56;
  @apply tracking-tightest;
}

h2 {
  @apply font-soehneKraftig;
  @apply text-30;
  @apply leading-40;
  @apply tracking-tight;
}

h3 {
  @apply font-cambon;
  @apply text-25;
  @apply leading-35;
  @apply tracking-tightish;
}

h4 {
  @apply font-soehneLeicht;
  @apply text-25;
  @apply leading-37;
  @apply tracking-normal;
}

ul {
  @apply list-disc;
}

ol {
  @apply list-decimal;
}

.lead {
  @apply font-soehneLeicht;
  @apply text-25;
  @apply leading-37;
  @apply tracking-tightish;
}

@media (max-width: theme('screens.md')) {
  body {
    @apply text-18;
    @apply leading-28;
  }

  h1 {
    @apply text-28;
    @apply leading-35;
    @apply tracking-tighter;
  }

  h2 {
    @apply text-22;
    @apply leading-31;
    @apply tracking-tighter;
  }

  h3 {
    @apply text-21;
    @apply leading-31;
    @apply tracking-normal;
  }

  h4 {
    @apply text-21;
    @apply leading-31;
    @apply tracking-normal;
  }

  .lead {
    @apply font-soehneLeicht;
    @apply text-21;
    @apply leading-31;
    @apply tracking-normal;
  }
}
