/* This css needs to be defined overall
because the modal is set at the root of the app */
.ReactModal__Overlay {
  opacity: 0;
  overflow: hidden;
  transition: opacity 500ms;
}

.ReactModal__Overlay--after-open {
  opacity: 1;
}

.ReactModal__Overlay--before-close {
  opacity: 0;
}

.fade-out {
  animation: fadeOut 500ms;
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

.fade-in {
  animation: fadeIn 500ms;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
