.wp-block-eldora-parent-card {
  width: 100%;
  margin: 0!important;
}

.parent-card-preview {
  background: #171B23;
  border-radius: 8px;
  padding: 32px;
}

.parent-card-preview .pole-card-preview {
  background: #212631;
}

.parent-card-preview .block-list-appender {
  position: initial;
}
