.footnote-content {
  @apply font-soehneKraftig text-12 border border-solid border-brown-800 text-brown-800;

  display: inline-block;
  width: 20px;
  height: 20px;
  line-height: 20px;
  margin-right: 10px;
  border-radius: 100%;
  text-align: center;
}
