.image-carousel-static-preview {
  margin-right: -32px;
  margin-left: -32px;
  overflow-x: hidden;
}

.image-carousel-static-preview .images-area {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 32px;
  width: 150%;
  margin-left: -25%;
}

.image-carousel-static-preview .images-area .image-container img {
  width: 100%;
  aspect-ratio: 16/9;
  border-radius: 8px;
  object-fit: cover;
}

.image-carousel-static-preview .images-area .image-3 .remove-image-button {
  right: auto;
  left: 8px;
}

.image-carousel-static-preview .add-image-button {
  height: 100%;
  min-height: 350px;
}

.image-carousel-static-preview-image-item {
  margin-bottom: 20px;
}
