.spotify-track-style {
  padding: 24% 0 0 0;

  @media only screen and (max-width: theme('screens.md')) {
    padding: 44% 0 0 0;
  }

  @media only screen and (max-width: theme('screens.sm')) {
    padding: 50% 0 0 0;
  }
}
