.testimonials-slider-preview .title {
  font-family: "Bricolage";
  font-size: 36px;
  font-weight: 600;
  margin-bottom: 32px;
}

.testimonials-slider-preview .block-list-appender {
  position: initial;
}

.testimonials-slider-preview .block-list-appender button {
  height: 100%;
}

.testimonials-slider-preview .block-editor-block-list__layout {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 32px;
}

.testimonials-slider-preview .block-editor-block-list__layout .wp-block {
  margin: 0;
}
