.social-share {
  @apply flex items-center mt-20;
}

.react-share__ShareButton + .react-share__ShareButton {
  @apply ml-10;
}

.social-share div {
  @apply border border-solid border-brown-800 rounded-full relative block;

  width: 3.8rem;
  height: 3.8rem;

  span {
    @apply text-brown-800 text-15 absolute;

    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  & + a {
    margin-left: 0.8rem;
  }

  &:hover {
    @apply bg-brown-800;

    span {
      @apply text-white;
    }
  }
}
