.key-numbers {
  @apply my-30 md:my-60;

  display: grid;
  width: 60rem;
  grid-template-columns: repeat(3, 18rem);
  column-gap: 3rem;
  row-gap: 3rem;

  @media only screen and (max-width: theme('screens.lg')) {
    width: 100%;
    grid-template-columns: repeat(2, 16.5rem);
    column-gap: 1.5rem;
    row-gap: 1.5rem;
  }

  &-featured {
    @apply mt-30 mb-0;

    @media only screen and (max-width: theme('screens.lg')) {
      @apply mt-20 mb-0;
    }
  }
}
