.testimonial-preview .no-selected-testimonial {
  background-color: #171b23;
  border-radius: 8px;
  padding: 28px;
}

.testimonial-preview .testimonial {
  margin-bottom: 12px;
  font-size: 18px;
}

.testimonial-preview .author {
  font-size: 16px;
}
