.square,
.landscape,
.portrait {
  @apply w-full object-cover;
}

.square img {
  height: var(--image-teaser-square) !important;

  @media only screen and (max-width: theme('screens.md')) {
    height: var(--image-mobile-teaser-square) !important;
  }
}

.landscape img {
  height: var(--image-teaser-landscape) !important;

  @media only screen and (max-width: theme('screens.md')) {
    height: var(--image-mobile-teaser-landscape) !important;
  }
}

.portrait img {
  height: var(--image-teaser-portrait) !important;

  @media only screen and (max-width: theme('screens.md')) {
    height: var(--image-mobile-teaser-portrait) !important;
  }
}

&.mini-teaser {
  .square img {
    height: var(--image-mini-square) !important;

    @media only screen and (max-width: theme('screens.md')) {
      height: var(--image-mobile-teaser-square) !important;
    }
  }

  .landscape img {
    height: var(--image-mini-landscape) !important;

    @media only screen and (max-width: theme('screens.md')) {
      height: var(--image-mobile-teaser-landscape) !important;
    }
  }

  .portrait img {
    height: var(--image-mini-portrait) !important;

    @media only screen and (max-width: theme('screens.md')) {
      height: var(--image-mobile-teaser-portrait) !important;
    }
  }
}
