.newsletter-type {
  @apply inline-flex items-center uppercase text-12 font-soehneKraftig tracking-wider leading-17;
}

.newsletter-type__icon-wrapper {
  display: flex;
  padding: 8px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}

.newsletter-type__icon-wrapper .icon {
  position: inherit;
}

.newsletter-type__text {
  white-space: nowrap;
  padding: 8px 10px;
}

/* Outlined variant (colored icon box + neutral text box) */

.newsletter-type--outlined .newsletter-type__icon-wrapper {
  @apply bg-orange text-white;
}

.newsletter-type--outlined .newsletter-type__text {
  @apply bg-sand-500 text-brown-800;
}

.newsletter-type--outlined.newsletter-type--news .newsletter-type__icon-wrapper {
  @apply bg-orange;
}

.newsletter-type--outlined.newsletter-type--genz .newsletter-type__icon-wrapper {
  @apply bg-purple;
}

.newsletter-type--outlined.newsletter-type--analyses .newsletter-type__icon-wrapper {
  @apply bg-blue;
}

.newsletter-type--outlined.newsletter-type--trends .newsletter-type__icon-wrapper {
  @apply bg-green;
}

/* Filled variant (bright color background with white text) */
.newsletter-type--filled {
  @apply text-white;

  gap: 8px;
  padding: 8px 10px;
}

.newsletter-type--filled .newsletter-type__icon-wrapper {
  padding: 0;
}

.newsletter-type--filled .newsletter-type__text {
  padding: 0;
}

.newsletter-type--filled.newsletter-type--news {
  @apply bg-orange;
}

.newsletter-type--filled.newsletter-type--genz {
  @apply bg-purple;
}

.newsletter-type--filled.newsletter-type--analyses {
  @apply bg-blue;
}

.newsletter-type--filled.newsletter-type--trends {
  @apply bg-green;
}
