.input-nl {
  padding: 2px 15px 3px;

  @media only screen and (max-width: theme('screens.md')) {
    padding: 4px 15px;
  }
}

input[type='checkbox'] {
  @apply bg-white border border-solid border-sand-500;

  position: relative;
  top: 3px;
  width: 20px;
  height: 20px;
  cursor: pointer;
  appearance: none;

  &:before {
    @apply border-solid border-white;

    content: '';
    display: block;
    position: absolute;
    top: 2px;
    left: 7px;
    width: 7px;
    height: 13px;
    transform: rotate(45deg);
    border-width: 0 2px 2px 0;
    opacity: 0;
  }

  &:checked {
    @apply text-white bg-orange;

    border: none;

    &:before {
      opacity: 1;
    }
  }
}
