.numbered-card-preview {
  box-sizing: border-box;
  background-color: #171b23;
  border-radius: 8px;
  padding: 28px;
  height: 100%;
}

.numbered-card-preview .number-title {
  display: flex;
  margin-bottom: 8px;
  align-items: baseline;
  font-family: "Bricolage";
}

.numbered-card-preview .number-title .number {
  color: #4f4f4e;
  font-size: 60px;
  font-weight: 600;
  line-height: 100%;
}

.numbered-card-preview .number-title .title {
  margin-left: -12px;
  font-size: 24px;
  font-weight: 600;
  line-height: 115%;
}

.numbered-card-preview .text {
  font-size: 18px;
  font-weight: 400;
  line-height: 115%;
}
