.main-menu-link {
  @apply font-soehneKraftig uppercase tracking-wide leading-20 text-15 mx-10 py-15 block relative;

  &:hover,
  &.active {
    @apply border-b border-solid border-brown-800;

    padding-top: 1.4rem !important;
    top: 1px;
  }
}

.secondary-menu-link {
  @apply font-soehneKraftig uppercase tracking-wider leading-16 text-12 mr-15;

  &:hover,
  &:active {
    @apply text-brown-500;
  }
}

.mobile-menu-link {
  @apply font-soehneKraftig uppercase tracking-wide leading-20 text-15 py-10 block relative;
}

.header-burger-menu {
  @apply block bg-brown-800;

  width: 2.2rem;
  height: 0.2rem;

  &:before,
  &:after {
    @apply block bg-brown-800 relative;

    content: '';
    width: 2.2rem;
    height: 0.2rem;
  }

  &:before {
    top: -6px;
  }

  &:after {
    top: 4px;
  }

  &.open {
    height: 0;

    &:before {
      transform-origin: 0 0;
      transform: rotate(45deg) translate(1px, -5px);
    }

    &:after {
      transform: rotate(-45deg) translate(5px, -5px);
    }
  }
}

.header-search {
  @apply flex items-center justify-center;

  .icon {
    @apply relative;

    top: 0 !important;
  }
}

.header-search-form {
  .header-search-submit-btn {
    @apply text-15 leading-20 tracking-wider flex items-center justify-center;

    .icon {
      @apply mr-10 relative top-0;
    }
  }

  .input-search {
    border-right-color: transparent !important;
  }
}

.toggle-btn {
  @apply flex items-center justify-center;

  padding: 0.5rem;

  .icon {
    @apply relative top-0 w-20 h-20;
  }
}

.header-mobile-search {
  .input-search {
    padding-right: 5rem !important;
  }

  .icon-search {
    @apply relative top-0;
  }
}
